/* ---------- reset ---------- */
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}





/* header.php  
========================================================= */

/* ---------- navbar ---------- */

#navbarNavAltMarkup a {
  font-family: 'Gruppo', sans-serif;
}

#logo_panier span {
  font-size: 10px;
  font-family: 'Gruppo', sans-serif;
}





/* index.php  
========================================================= */

/* ---------- accueil ---------- */

/* image de fond  */
#image_fond {
  background-image: linear-gradient(to right, #000000c0, #ffffff1f), url(./images/image_fond.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Gruppo', sans-serif;
}

/* boutton */
#image_fond a {
  text-decoration: none;
  border: 1px solid white;
}

/* boutton hover */
#image_fond a:hover {
  background-color: azure;
  color: black !important;
}





/* produit.php  
========================================================= */

/* ---------- main ---------- */

/* background */
#details-produit {
  background-image: linear-gradient(to top, #ffffff1f, #000000c0), url(./images/image_fond_2.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#image_details_produit {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514);
}

#image_details_produit img {
  width: 9rem;
}

#card-home_detail_produit {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514);
}





/* panier.php  
========================================================= */

/* ---------- main ---------- */

/* background */
#main_panier {
  background-image: linear-gradient(to top, #ffffff1f, #000000c0), url(./images/image_fond_2.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#main_panier h1 {
  font-family: 'Gruppo', sans-serif;
}

#container-panier {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514);
  font-family: 'Gruppo', sans-serif;
}

#container-panier img {
  width: 3rem;
}

#total-panier {
  font-family: 'Gruppo', sans-serif;
}

#container-panier {
  border: 1px solid black;
}





/* validation.php  
========================================================= */
#validation-panier {
  background-image: linear-gradient(to top, #ffffff1f, #000000c0), url(./images/image_fond_2.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#validation-panier h1 {
  font-family: 'Gruppo', sans-serif;
}

#total-panier-validation {
  font-family: 'Gruppo', sans-serif;
}





/* footer.php  
========================================================= */

/* ---------- footer ---------- */

/* paragraphe */
footer p {
  letter-spacing: 3px;
  font-size: 0.7rem;
}





/* connexion.php  
========================================================= */

/* ---------- section connexion ---------- */

#connexion {
  background-image: linear-gradient(to top, #ffffff1f, #000000c0), url(./images/image_fond_2.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#connexion #row_connexion {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514) !important;
}

#connexion #col_connexion {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.242) !important;
}





/* inscription.php  
========================================================= */

/* ---------- section inscription ---------- */

#inscription {
  background-image: linear-gradient(to top, #ffffff1f, #000000c0), url(./images/image_fond_2.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#inscription #row_inscription {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514);
}

#inscription #col_inscription {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.242);
}





/* gammes.php  
========================================================= */

/* -------------- main ----------------- */

/* background */
#gammes {
    background-image: linear-gradient(to top, #ffffff1f, #000000c0), url(./images/image_fond_2.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Gruppo', sans-serif;
}

/* titre gamme */
#titre_gamme h1 {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514);
}

/* ---------- section gammes ---------- */

/* background */
#articles_gamme {
  background-image: linear-gradient(to top, #ffffff1f, #000000c0), url(./images/image_fond_2.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* header card */
#card-gamme {
  backdrop-filter: blur(7px);
}

/* taille image */
#card-gamme img {
  width: 6rem;
}







/* profil.php  
========================================================= */
#main-profil {
    /* background */
    background-image: linear-gradient(to top, #ffffff1f, #000000c0), url(./images/image_fond_2.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#main-profil #card-profil-1 {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514) !important;
  font-family: 'Gruppo', sans-serif;
  height: 10rem;
}

#main-profil #card-profil-2 {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514) !important;
  font-family: 'Gruppo', sans-serif;
  height: 10rem;
}

#main-profil #card-profil-3 {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514) !important;
  font-family: 'Gruppo', sans-serif;
  height: 10rem;
}

#main-profil #card-profil-4 {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514) !important;
  font-family: 'Gruppo', sans-serif;
  height: 10rem;
}

#main-profil h1 {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514) !important;
  font-family: 'Gruppo', sans-serif;
}




/* profil_modif_infos.php  
========================================================= */
#profil_modif_infos {
  /* background */
  background-image: linear-gradient(to top, #ffffff1f, #000000c0), url(./images/image_fond_2.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}







/* medias queries
========================================================= */

/* ---------------------- 991px ------------------------- */

@media screen and (max-width : 991px) {

  #card-home_detail_produit {
    width: 100%;
  }

  #row_connexion {
  flex-wrap: wrap !important;
  border: hidden !important;
  padding: 0 !important;
  background: none !important;
  gap: 5px !important;
  backdrop-filter: none !important;
  }

  #col_connexion {
    backdrop-filter: blur(7px) !important;
    background-color: rgba(0, 0, 0, 0.514) !important;
  }

  #col_connexion_2 {
    backdrop-filter: blur(7px) !important;
    background-color: rgba(0, 0, 0, 0.514) !important;
  }

  /* ----- header ----- */

  /* section logo panier navbar */
  header #section_logo_panier {
    display: none !important;
  }
}


/* ---------- 767px ---------- */

@media screen and (max-width : 767px) {
  #details-produit_row {
    flex-wrap: wrap !important;
  }

  #container-panier img {
    padding-bottom: 10px;
  }

  #container-panier h4 {
    padding-bottom: 8px;
  }

  #container-panier .border-end {
    border: hidden !important;
  }
}

/* ---------- 452 px ---------- */
@media screen and (max-width : 452px) {
  #details-produit p {
    font-size: 11px;
  }
  #image_details_produit img {
    width: 6rem;
  }
}

