/* ---------------------- reset ------------------------- */
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}





/* header.php  
====================================================================================================================== */

/* ---------------------- navbar ------------------------- */

#navbarNavAltMarkup a {
  font-family: 'Gruppo', sans-serif;
}

#logo_panier span {
  font-size: 10px;
  font-family: 'Gruppo', sans-serif;
}





/* index.php  
====================================================================================================================== */

/* ---------------------- haut de page ------------------------- */

/* background haut de page */
#section-accueil {
  background-image: linear-gradient(to right, #000000c0, #ffffff1f), url(./images/image_fond.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Gruppo', sans-serif;
}

/* boutton */
#section-accueil a {
  text-decoration: none;
  border: 1px solid white;
}

/* boutton hover */
#section-accueil a:hover {
  background-color: azure;
  color: black !important;
}

/* ---------------------- bas de page ------------------------- */

/* background bas de page */
#articles {
  background-image: linear-gradient(to top, #ffffff1f, #000000c0), url(./images/image_fond_2.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Gruppo', sans-serif;
}

#articles h2 {
  backdrop-filter: blur(7px);
}

/* image article */
#articles img {
  width: 5.5rem;
}

/* background card article */
#card-articles {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514);
}





/* produit.php  
====================================================================================================================== */

/* background */
#details-produit {
  background-image: linear-gradient(to top, #ffffff1f, #000000c0), url(./images/image_fond_2.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* background card */
#image_details_produit {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514);
}

/* taille image */
#image_details_produit img {
  width: 9rem;
}

/* backgroung card details */
#card_details_produit {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514);
}





/* panier.php  
====================================================================================================================== */

/* background */
#panier {
  background-image: linear-gradient(to top, #ffffff1f, #000000c0), url(./images/image_fond_2.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Gruppo', sans-serif;
}

/* background article */
#container_panier {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514);
}

/* image */ 
#container_panier img {
  width: 3rem;
}





/* validation.php  
====================================================================================================================== */

/* background */
#validation-panier {
  background-image: linear-gradient(to top, #ffffff1f, #000000c0), url(./images/image_fond_2.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Gruppo', sans-serif;
}

/* image */
#validation-panier img {
  width: 3rem;
}





/* footer.php  
====================================================================================================================== */

/* paragraphe */
footer p {
  letter-spacing: 3px;
  font-size: 0.7rem;
}





/* connexion.php  
====================================================================================================================== */

#connexion {
  background-image: linear-gradient(to top, #ffffff1f, #000000c0), url(./images/image_fond_2.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#connexion #row_connexion {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514) !important;
}

#connexion #col_connexion {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.242) !important;
}





/* inscription.php  
====================================================================================================================== */

#inscription {
  background-image: linear-gradient(to top, #ffffff1f, #000000c0), url(./images/image_fond_2.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#inscription #row_inscription {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514);
}

#inscription #col_inscription {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.242);
}





/* gammes.php  
====================================================================================================================== */

/* background */
#gammes {
    background-image: linear-gradient(to top, #ffffff1f, #000000c0), url(./images/image_fond_2.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Gruppo', sans-serif;
}

/* titre gamme */
#titre_gamme h1 {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514);
}

/* header card */
#card-gamme {
  backdrop-filter: blur(7px);
}

/* taille image */
#card-gamme img {
  width: 6rem;
}





/* profil.php  
====================================================================================================================== */

#main-profil {
    /* background */
    background-image: linear-gradient(to top, #ffffff1f, #000000c0), url(./images/image_fond_2.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#main-profil #card-profil-1 {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514) !important;
  font-family: 'Gruppo', sans-serif;
  height: 10rem;
}

#main-profil #card-profil-2 {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514) !important;
  font-family: 'Gruppo', sans-serif;
  height: 10rem;
}

#main-profil #card-profil-3 {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514) !important;
  font-family: 'Gruppo', sans-serif;
  height: 10rem;
}

#main-profil #card-profil-4 {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514) !important;
  font-family: 'Gruppo', sans-serif;
  height: 10rem;
}

#main-profil h1 {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 0, 0.514) !important;
  font-family: 'Gruppo', sans-serif;
}





/* profil_modif_infos.php  
====================================================================================================================== */

#profil_modif_infos {
  /* background */
  background-image: linear-gradient(to top, #ffffff1f, #000000c0), url(./images/image_fond_2.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
}





/* medias queries
====================================================================================================================== */

/* ---------------------- 991px ------------------------- */

@media screen and (max-width : 991px) {

  #card_detail_produit {
    width: 100%;
  }

  #row_connexion {
  flex-wrap: wrap !important;
  border: hidden !important;
  padding: 0 !important;
  background: none !important;
  gap: 5px !important;
  backdrop-filter: none !important;
  }

  #col_connexion {
    backdrop-filter: blur(7px) !important;
    background-color: rgba(0, 0, 0, 0.514) !important;
  }

  #col_connexion_2 {
    backdrop-filter: blur(7px) !important;
    background-color: rgba(0, 0, 0, 0.514) !important;
  }

  /* ----- header ----- */

  /* section logo panier navbar */
  header #section_logo_panier {
    display: none !important;
  }
}


/* ---------------------- 767px ------------------------- */

@media screen and (max-width : 767px) {
  #details-produit_row {
    flex-wrap: wrap !important;
  }

  #container_panier img {
    padding-bottom: 10px;
  }

  #container_panier h4 {
    padding-bottom: 8px;
  }

  #container_panier .border-end {
    border: hidden !important;
  }
}


/* ---------------------- 452px ------------------------- */

@media screen and (max-width : 452px) {
  #details-produit p {
    font-size: 11px;
  }
  #image_details_produit img {
    width: 6rem;
  }
}

